@model WasteManager.Models.Customer

@{
    ViewData["Title"] = "Index";
}

<h1>Home</h1>

<div>
    <h4>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h4>
    <hr />

    <div class="container">
        <div class="row">
            <div class="col-2">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">User Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Billing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Service Options</a>
                    </li>
                </ul>
            </div>

            <div class="col-10">
                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.FirstName)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.FirstName)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.LastName)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.LastName)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.StreetAddress)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.StreetAddress)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.CityState)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.CityState)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.zip)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.zip)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.WeeklyPickupDay)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.WeeklyPickupDay)
                    </dd>
                    @*<dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.MonthlyExtraDate)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.MonthlyExtraDate)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.PickupPause)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.PickupPause)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.PickupResume)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.PickupResume)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Balance)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Balance)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.IdentityUser)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.IdentityUser.Id)
                    </dd>*@
                </dl>
                <div>
                    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
