@model WasteManager.Models.Customer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StreetAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StreetAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CityState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CityState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeeklyPickupDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeeklyPickupDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonthlyExtraDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonthlyExtraDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PickupPause)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PickupPause)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PickupResume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PickupResume)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
