@model WasteManager.Models.EmployeeDaysViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Daily List</h1>
<form asp-action="Index">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="DayFilter" class="control-label"></label>
        <select asp-for="DayFilter" asp-items="Model.DaysAvailable" class="form-control"></select>
        <span asp-validation-for="DayFilter" class="text-danger"></span>
    </div>
    @*<div class="form-group">
            <label asp-for="MonthlyExtraDate" class="control-label"></label>
            <input asp-for="MonthlyExtraDate" class="form-control" />
            <span asp-validation-for="MonthlyExtraDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PickupPause" class="control-label"></label>
            <input asp-for="PickupPause" class="form-control" />
            <span asp-validation-for="PickupPause" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PickupResume" class="control-label"></label>
            <input asp-for="PickupResume" class="form-control" />
            <span asp-validation-for="PickupResume" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Balance" class="control-label"></label>
            <input asp-for="Balance" class="form-control" />
            <span asp-validation-for="Balance" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="IdentityUserId" class="control-label"></label>
            <select asp-for="IdentityUserId" class ="form-control" asp-items="ViewBag.IdentityUserId"></select>
        </div>*@
    <div class="form-group">
        <input type="submit" value="Filter" class="btn btn-primary" />
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Street Address
            </th>
            <th>
                City, State
            </th>
            <th>
                Zip Code
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (Customer customer in Model.Customers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => customer.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => customer.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => customer.StreetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => customer.CityState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => customer.Zip)
            </td>   
        <td>
            <a asp-action="Details" asp-route-id="@customer.Id">Customer Details</a>
            @if ((int)DateTime.Today.DayOfWeek == Model.DayFilter)
            {<a asp-action="PickupConfirm" asp-route-id="@customer.Id"> | Complete Pickup</a>}
            </td>
            
        </tr>
}
    </tbody>
</table>
